
0_Literature/7c340a53461acd7e547854e2b75430330bbc.pdf
0_Literature/THESE_S_CHAMPAIN.pdf
1_Code/.DS_Store
.DS_Store
1_Code/main_17Aout.py
1_Code/main_17Aout_2.py
1_Code/main_18Aout.py
1_Code/main_19Aout.py
1_Code/main_20Aout.py
1_Code/main_7Aout.py
1_Code/ohm.py
1_Code/Paint/appli_modifications_14Aout.py
1_Code/Paint/paint.py
1_Code/random.py
1_Code/XRayApp.py
2_XRays/Radios/Capture d’écran 2020-08-06 à 11.43.39.jpg
2_XRays/Radios/sujet_1_AP.jpg
2_XRays/Radios/sujet_1_LAT.jpg
2_XRays/Radios/sujet_2_AP.jpg
2_XRays/Radios/sujet_2_LAT.jpg
2_XRays/Skairos_logo.ico
2_XRays/Skairos_logo.jpg
2_XRays/Skairos_logo.png
3_Suivi-hebdomadaire/Bilan hebdomadaire.docx
3_Suivi-hebdomadaire/Semaine 1/Avancement_Semaine28Juillet.pdf
3_Suivi-hebdomadaire/Semaine 1/Avancement_Semaine3Aout.pdf
3_Suivi-hebdomadaire/Semaine 2/Avancement_Semaine3Aout.pdf
3_Suivi-hebdomadaire/Semaine 2/Avancement_Semaine3Aout.pptx
3_Suivi-hebdomadaire/Semaine 3/Avancement_Semaine10Aout.pdf
Notice d'utilisation - Application Skairos.docx
Proposition de descriptif de stage - Skairos.docx
.DS_Store
.DS_Store
